
.half-screen-height {
  height: $half-screen-height;
}

.full-screen-height {
  height: $full-screen-height;
}

.hidden {
  display: none !important;
}

.transparent {
  opacity: 0;
}

.fadeInOutAnimation {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

.section-header {
  font-size: 2rem;
  font-family: Grafitty, sans-serif;
  color: $secondary;
  font-weight: bolder;
  margin-bottom: 4em;
}
