$secondary: #6d431d;
$primary: #080808;
$primary-text: #202020;
$tertiary: #dcdcdc;
$tertiary-calmer: #c4c4c4;
$tertiary-brighter: #f5f5f5;
$bronze: #CD7F32;
$silver: #C0C0C0;
$gold: #D4AF37;

$full-screen-height: 100vh;
$half-screen-height: 50vh;